body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header-nav a:hover {
    color: red;
}

#header-nav a {
    padding: 15px 40px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: white;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner #header-nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#banner-text {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner-text h1 {
    color: orange;
    margin: 0 0;
    font-size: 3em;
}

span {
    color: grey;
    font-style: italic;
    font-size: 2.5em;
}

h2 {
    font-size: 2.5em;
}

#banner button {
    font-size: 2em;
    color: grey;
    font-style: italic;
    margin: 100px 0;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5%;
    transition: 2s;
}

#banner button:hover {
    background: orange;
    color: black;
}

section {
    width: 100%;
    text-align: center;
}

#program {
    background-image: url('../img/flag.jpg');
    background-repeat: no-repeat;
}

#ourTeam {
    background-image: url('../img/our_team_bg.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#ourTeam div {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#ourTeam div span {
    font-size: 1.5em;
}

#review {
    padding:192px 0;
    background-image: url('../img/review.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#review h2,
#review span {
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #db5639;
}

footer span {
    font-size: 1em;
}
#additionalInformation{
    background-image: url('../img/underfooter_img.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    padding:40px 0;
    display:flex;
    justify-content:space-around;
}

/*Slider*/

#borderDiv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#slider {
    width: 82%;
    display: flex;
}

#slider ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#slider ul li img {
    width: 80%;
}

.button {
    background-repeat: no-repeat;
    height: 150px;
    width: 100px;
    align-self: center;
}

#bt_next {
    background-image: url('../img/next.png');
    transform: rotate(20deg);
}

#bt_prev {
    background-image: url('../img/prev.png');
    transform: rotate(-20deg);
}

#slider ul li:nth-child(1) {
    transform: rotate(-20deg);
}

#slider ul li:nth-child(4) {
    transform: rotate(20deg);
}

#title-city {
    background-image: url('../img/line.png');
    padding: 10px 0;
    width: 50%;
    font-size: 2em;
    font-style: italic;
    color: black;
}
